# Standalone analysis of this package.
# covered by neos-next/neos/phpstan.neon, which analyses all DistributionPackages.

includes:
  - ./phpstan-baseline.php

parameters:
  level: 8
  paths:
    - Classes
  bootstrapFiles:
    - vendor/autoload.php
